.signUpInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  gap: 1.5rem;
}

.signUpInfo__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.signUpInfo__text {
  line-height: 1.5rem;
}

.signUpInfo__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 0.75rem;
}

.signUpInfo__item {
  font-size: 1rem;
  
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signUpInfo__icon {
  height: 21px;
  width: 21px;
}

@media screen and (max-width: 575px) {
  .signUpInfo__title {
    font-size: 3rem;
  }
}