.signUpInfo {
  grid-area: info;

  display: flex;
  flex-direction: column;
  
  gap: 1.5rem;
}

.signUpInfo__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.signUpInfo__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  gap: 0.62rem;
}

.signUpInfo__item {
  font-size: 1rem;
  
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signUpInfo__icon {
  height: 21px;
  width: 21px;
}