.signUpForm {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signUpForm__label {
  font-size: 0.75rem;
  font-weight: 700;
}

.signUpForm__input {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--grey);

  outline: none;
}

.signUpForm__input:focus {
  border: 1px solid var(--dark-navy);
}

.signUpForm__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--dark-navy);

  color: var(--white);
  font-weight: 700;
  
  cursor: pointer;
  border: none;
}

.signUpForm__button:hover {
  background: var(--primary-gradient);
  box-shadow: 0rem 1rem 2rem 0rem var(--primary-box-shadow-color);
}

.signUpForm__errorMessage {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--tomato);
}

.signUpForm__inputError {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--tomato);
  color: var(--tomato);
  background-color: var(--input-background-error-state);

  outline: none;
}

.inputInfo {
  display: flex;
  justify-content: space-between;
}