.signUpForm {
  grid-area: form;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signUpForm__label {
  font-size: 0.75rem;
  font-weight: 700;
}

.signUpForm__input {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--grey);

  outline: none;
}

.signUpForm__input:focus {
  border: 1px solid var(--dark-navy);
}

.signUpForm__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--dark-navy);

  color: var(--white);
  font-weight: 700;
  

  border: none;
}